body{
    background-color: rgb(176, 178, 179);
}
h4, h1, h2, h3, h5, h6 {

    text-align: center;
    align-content: center;
    background-color: rgb(172, 157, 128);
    color: aquamarine;
}
p:hover{
color: black;
background-color: azure;
}
li{
    color: black;
    text-decoration: none;
    background-color: cadetblue;
}
p {
    padding: 20px;
    color: rgb(91, 102, 91);
    background-color: rgb(214, 155, 155);
    font-size: 24px;
}
div {
    align-content: center;
    color: rgb(96, 80, 80);
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 5px; 
    padding-right: 5px;
    width: 100%;
    height: auto;
    animation: example 5s linear 1s infinite alternate;
    }
@keyframes example {
    0%   {background-color:rgb(121, 89, 89); left:25%; top:0px;}
    25%  {background-color:rgb(179, 179, 127); left:50%; top:0px;}
    50% {background-color:rgb(59, 76, 71); left:25%; top:0px;}
    75% {background-color:rgb(77, 77, 45); left:0%; top:0px;}
    100%  {background-color:rgb(151, 79, 79); left:25%; top:0px;}
                    }
button {
    padding: 40px 10px;
    color: black;
    background-color: skyblue;
}
button:hover {
    background-color: white; /* White */
    color: #04AA6D; /* Green */
  }
  
img {
    width: 100%;
    height: 100%;
}
